<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.min.js"></script>      <!--  puede que no funcione por que le puso el pinche punto -->
    <script src="./js/actualizarcre.js"></script>
    <script src="./js/eliminarcre.js"></script>
    <!--<script src="./js/eliminarcre.js"></script>-->

    <link rel="stylesheet"  href="/css/creditos.css">
    <title>Banco</title>
</head>
<section class="form-registerr">
    <form action="/frmcuentcre" method="POST">
    <title></title>
</head>
<body>
    <h1>Bienvenido señor(a) <%= nomemp %></h1>
    
    <div class="login">
      
        
  
     
                <div class="container-login">
                  <div class="wrap-login">
                          <span class="login-form-title">Creditos</span>
                          

                              <input  class="input100" type="text" id="Codigo"              name="CodCuenta"      placeholder="Codigo">
                              <input  class="input100" type="text" id="Documento"           name="CliId"    placeholder="Documento">
                              
                              <select class="controls"  name="Cuenta">

                                <option>Ahorros</option>
                                
                                <option>Corriente</option>
                                
                           
                                
                                </select>
                            <input  class="input100" type="text" id="Saldo"           name="Saldo"          placeholder="sald">
      
                            




                            <span class="focus-efecto"></span>

                          
                          <div class="container-login-form-btn">
                              <div class="wrap-login-form-btn">
                                  <div class="login-form-bgbtn"></div>
                                  <button type="submit" name="submit" class="login-form-btn">INGRESAR NUEVO DATO</button>
                              </div>
                            </div>
                  </div>
              </div>     




    
    </form>
</section>
<form action="" none="frm" id="frm">

    <thead>            

  
        <div class="form-register">

    <table border="1" width=10>	
      
		<tr>
		<td> Codigo </td>
		<td> Documento </td>
		<td> Cuenta</td>
		<td> Saldo</td>
   
<tbody>
    <% datos.forEach(function(datos){%>

            <tr>
    
                <td><input   type="text"  value="<%=datos.CodCuenta%>"  required        id="Codigo"      name="Codigo"      class="cod"  ></td>
                <td><input   type="text"  value="<%=datos.CliId%>"  required            id="Id"          name="Id"          class="id"></td>
                <td><input   type="text"  value="<%=datos.Cuenta%>"    required       id="Cuenta"       name="cuent"       class="cue"></td>
                <td><input   type="text"  value="<%=datos.Saldo%>"      required      id="Saldo"    name="saldo"    class="sald"></td>
       
            <%})%>
</tbody>
</table>
</div>
</head>
</form>    
</body>
</html>